/*Resentando configurações padrão*/
*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: initial;
    box-sizing: border-box;
}
/*imagem de fundo*/

body{
    width: 100vw;
    height: 50%;
    background-image:  linear-gradient(rgba(17,17,17,.75), rgba(20,20,20,.75)), url(../image/turned-on-gray-laptop-computer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}